[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
ipython = "*"
sympy = "*"
nose = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "jupyter notebook --autoreload --log-level=ERROR --notebook-dir=./ --NotebookApp.password='' ./dsp-01.ipynb"
